[submodule "asgard"]
	path = asgard
	url = https://github.com/StudyBlue/chef-asgard.git
[submodule "apache2"]
	path = apache2
	url = https://github.com/opscode-cookbooks/apache2.git
[submodule "java"]
	path = java
	url = https://github.com/opscode-cookbooks/java.git
[submodule "tomcat"]
	path = tomcat
	url = https://github.com/opscode-cookbooks/tomcat.git
[submodule "windows"]
	path = windows
	url = https://github.com/opscode-cookbooks/windows.git
[submodule "chef_handler"]
	path = chef_handler
	url = https://github.com/opscode-cookbooks/chef_handler.git
